/* index页面样式 */
    /* 顶部导航栏开始 */
    .top{
      height: 40px;
      background-color: #333;
    }
    .top-inner{
      line-height: 40px;
    }
    .topbar-nav li{
      float: left;
    }
    .topbar-nav li a{
      display: inline-block;
      color: #b0b0b0;
      font-size: 12px;
      font-family: "Microsoft Yahei";
      vertical-align: bottom;
    }
    .topbar-nav li>a:hover{
      color:#fff;
    }
    .topbar-nav .download:hover .download-code {
      /* display: block; */
      height: 148px;    
    }
    .divline{
      color: #404040;
      margin: 0px 8px;
    }
    .download{
      position: relative;
    }
    .triangle{
      height: 0px;
      width: 0px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #FCFCFC;
      position: absolute;
      bottom: -1px;
      left: 12px;
      z-index: 40;
      display: none;
    }
    .topbar-nav .download:hover .triangle{
      display: block;
    }
    .download-code{
      position:absolute;
      top: 40px;
      left: -50%;
      background-color: #fff;
      text-align: center;
      font-size: 14px;
      color: #333;
      /* height:148px; */
      height: 0px;
      overflow: hidden;
      z-index:42;
      box-shadow: 0px 1px 5px #aaa;
      line-height: 14px;
      /* display: none; */
      transition: height 1s;
    }
    .download-code img{
      margin: 18px 17px 12px;
    }
    .topbar-login li{
      float: left;
    }
    .topbar-login li a{
      display: inline-block;
      color: #b0b0b0;
      font-size: 12px;
      font-family: "Microsoft Yahei";
      vertical-align: bottom;
    }
    .topbar-login li a:hover{
      color:#fff;
    }
    .topbar-shoppingcart{
      background-color: #4242;
      margin-left: 26px;
      text-align: center;
      vertical-align: bottom;
      position: relative;
    }
    .topbar-shoppingcart i{
      vertical-align: bottom;
    }
    .topbar-shoppingcart a{
      display: inline-block;
      width: 120px;
      vertical-align: bottom;
      color: #b0b0b0;
      font-size: 12px;
      font-family: "Microsoft Yahei";
    }
    .topbar-shoppingcart a:hover{
      color:#fff;

    }
    .shoppingcartinfo{
      width: 316px;
      height: 0px;
      overflow: hidden;
      background-color: #fff;
      position:absolute;
      top:40px;
      right:0px;
      box-shadow: 0px 1px 5px #aaa;
      transition: all 1s;
      z-index: 42;
    }
    .topbar-shoppingcart a:hover .shoppingcartinfo{
      color: #b0b0b0;
      height: 100px;
      line-height: 100px;
    }
    /* 顶部导航栏结束 */

    /* 头部 */
    /* 头部开始 */
    .header{
      /* background-color: pink; */
      position: relative;
      z-index: 40;
    }
    .header-inner{
      height: 100px;
      background-color: #fff;
    }
    /* logo */
    .logo{
      display:inline-block;
      width: 55px;
      height: 55px;
      background: #FF6700 url("/imgs/mi-logo.png") no-repeat center;
      text-indent: -9999px;
      overflow: hidden;
      margin-top: 22px;
    }
    /* 头部导航：header-nav */
    .header-nav{
      margin-left: 190px;
      float: left;
      line-height: 80px;
    }
    .header-nav li{
      float:left;
    }
    .header-nav li a{
      color:#333;
      display: inline-block;
      padding: 10px;
      
    }
    .header-nav li a:hover{
      color:#FF6700;
    }
    .header-nav .active:hover ~ .hiddenarea {
      height: 230px;
      border-top: 1px solid #e0e0e0;

    }
    /* 搜索栏 */
    .searchinput {
      margin-top: 25px;
      font-size: 0px;
    }
    .searchword {
      width: 242px;
      height: 48px;
      border: 1px solid #e0e0e0;
      padding: 0px 10px;
      font-size: 14px;
      color: #757575;
    }
    .fangdajing{
      width: 50px;
      height: 50px;
      color: #616161;
      border: 1px solid #e0e0e0;
      border-left: none;
      vertical-align: bottom;
      background-color: #fff;
    }
    /* 隐藏域 */
    .hiddenarea{
      /* height: 230px; */
      height: 0px;
      overflow: hidden;
      font-size: 12px;
      line-height: 20px;
      width: 100%;
      background-color: #fff;
      position:absolute;
      top:100px;
      left:0px;
      box-shadow: 0 5px 10px -5px #aaa;
      z-index: 38;
      text-align: center;
      transition: height 1s;
      /* border: 1px solid #e0e0e0; */
    }
    .hiddenarea li{
      float: left;
      padding: 35px 12px 0px;
      position: relative;
    }
    .hiddenarea li a{
      width: 160px;
      display: inline-block;
      color:#333;
    }
    .line{
      height:104px;
      width: 0px;
      border:1px solid #e0e0e0;
      display: inline-block;
      position: absolute;
      top: 48px;
      right:0px;
    }
    .price{
      color:#FF6700;
    }
    /* 头部结束 */

    /* banner开始 */
    .banner-inner{
      height: 460px;
      background-color: paleturquoise;
      position: relative;
    }
    /* 目录部分 */
    .catalog{
      width: 235px;
      background-color: rgba(157,148,139, .5);
      padding: 20px 0px 20px 0px;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 11;
    }
    .catalog li {
      position: relative;
      padding-left: 30px;
    }
    .catalog li:hover{
      background-color: #FF6700;
    }

    .catalog li a{
      display: inline-block;
      height: 42px;
      width: 100%;
      line-height: 42px;
      color: #fff;
      font-size: 14px;
    }
    .leftpointer{
      position: absolute;
      right: 24px;
      top:0px;
      font-size: 36px;
      color:#DEDEDE;
    }
    /* 轮播图 */
    .slider{
    }
    .slider-img {
      z-index: 10;
      width: 1226px;
      height: 460px;
      overflow: hidden;
    }
    .slider-img li{
      position: absolute;
      top: 0px;
      left: 0px;
    }
    .slider-img a{
      display: block;
      width: 1226px;
      height: 460px;

    }
    .slider1{
      background: url(../imgs/banner5.webp) no-repeat scroll center;
    }
    .slider2 img{
      width: 100%;
    
    }
    .slider3{
      background: url(../imgs/banner3.webp) no-repeat scroll center;
    }
    .slider4{
      background: url(../imgs/banner4.webp) no-repeat scroll center;
    }
    .slider5{
      background: url(../imgs/banner1.webp) no-repeat scroll center;
    }
    /* 按钮 */
    /* 前后按钮 */
    /* 文字图标实现 */
    /* .lrbtn i{
      width: 44px;
      height: 70px;
      line-height: 70px;
      background-color: transparent;
      font-size: 42px;
      color:#a8a9ac;
      margin-top: -35px;
    }
    .lrbtn i:hover{
      color:#fff;
      background-color: #787878;

    }
    .next{
      position: absolute;
      right: 0px;
      top: 50%;
    }
    .previous{
      position: absolute;
      left: 235px;
      top: 50%;
    } */

    /* 雪碧图实现 */
    .lrbtn a{
      width: 42px;
      height: 70px;
      color:#a8a9ac;
      margin-top: -35px;
      background-image: url(../imgs/icon-slides.png);
      top: 0;
      bottom: 0;
      margin: auto 0;
    }
    .previous {
      position: absolute;
      background-position: -84px 0px;
      left: 235px;

    }
    .previous:hover{
      background-position: 0px 0px;  
    }
    .next {
      position: absolute;
      background-position: -124px 0px;
      right: 0px;

    }
    .next:hover{
      background-position: -42px 0px;
    }
    /* 圆圈按钮 */
    .circlebtn {
      position: absolute;
      bottom: 26px;
      right: 34px;
    }
    .circlebtn a{
      float: left;
      width: 6px;
      height: 6px;
      border: 2px solid rgba(255,255,255,.3);
      background-color: rgba(0,0,0,.4);
      margin-left: 10px;
      border-radius: 50%;
    }
    .circlebtn a:hover,
    .circlebtn a:active{
      border-color: rgba(0,0,0,.4);
      background-color: rgba(255,255,255,.4);
    }
    /* 固定快捷方式 */
    .fixedbar {
      position: fixed;
      right:50%;
      top:300px;
      margin-right: -640px;
    }
    .fixedbar li{
      border: 1px solid #F5F5F5;
      position: relative;
    }
    .fixedbar li a{
      display: block;
    }
    .fixedbar_img {
      position: relative;
      width: 24px;
      height: 40px;
      text-align: center;
    }
    .fixedbar .fixedbar_img img{
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left:0px;
      right: 0px;
      margin: auto auto;
    }
    .fixedbar li:nth-child(1),
    .fixedbar li:nth-child(2),
    .fixedbar li:nth-child(3),
    .fixedbar li:nth-child(4){
      border-bottom: none;
    }
    .fixedbar .fixedbar_img img:nth-child(2){
      opacity: 0;
    }
    .fixedbar li:hover .fixedbar_img img:nth-child(2){
      opacity: 1;
    }
    .obliquetriangle{
      width: 6px;
      height: 0px;
      border: 6px solid pink;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-left-color: #fff;
      border-right: none;
      position: absolute;
      top: 8px;
      left: -12px;
      z-index: 9999999;
      display: none;
    }
    .codebox{
      width: 130px;
      height: 190px;
      border: 1px solid #F5F5F5;
      background-color: #fff;
      position: absolute;
      top: 0px;
      left: -142px;
      z-index: 999999;
      display: none;
    }
    .codebox img{
      width: 96px;
      height: 96px;
      margin: 22px 18px 0px;
    }
    .codebox-text{
      display: block;
      width: 82px;
      font-size: 14px;
      color: #757575;
      text-align: center;
      margin: 14px auto 0px; 
    }
    .textbox {
      font-size: 14px;
      line-height: 16px;
      color: #757575;
      position: absolute;
      top: 6px;
      left: -85px;
      z-index: 999999;
      background-color: #fff;
      border: 1px solid #F5F5F5;
      padding: 4px 8px;
      display: none;
    }


    .fixedbar li:hover .obliquetriangle,
    .fixedbar li:hover .textbox,
    .fixedbar li:nth-child(1):hover .codebox{
      display: block;
    }
    /* banner结束 */

    /* 链接排列部分开始 */
    /* 服务链接 */
    .channellist-inner{
      margin: 14px 0px 24px;
    }
    .channellist-inner li{
      float: left;
    }
    .channelshortcut{
      width: 236px;
      height: 172px;
      background-color: #5F5750;
    }
    .channelshortcut li{
      float: left;
      text-align: center;
      width: 78px;
      height: 84px;
      position: relative;
    }
    .channelshortcut li::before{
      height: 70px;
      width: 1px;
      content:"";
      background-color: #665e57;
      position:absolute;
      top: 3px;
      left: 5px;
    }
    .channelshortcut li::after{
      position:absolute;
      top: 3px;
      left: 5px;
      width: 70px;
      height: 1px;
      content:"";
      background-color: #665e57;
    }
    .channelshortcut li a{
      font-size: 14px;
      color:#B6B3B0;
    }
    .channelshortcut li a:hover{
      color:#FFF;
    }
    .channelshortcut li img{
      width: 24px;
      height: 24px;
      display: block;
      margin: 0 auto;
      padding-top: 20px;
      opacity: .6;
      transition: opacity .4s;
    }
    .channelshortcut li a:hover img {
      opacity: 1;
    }
    .channellist-inner .ad{
      margin-left:12px;
    }
    .channellist-inner .ad img{
      width: 318px;
      height: 172px;
    }
